*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,body {
  height: 100vh;
} */

.container {
  min-height: 100vh;
  width: 100%;
  padding : 5rem 3rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 2rem;
}

.pb-1{
  padding-bottom: 2rem;
}
